<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p class="mb-4">Estimado/a,</p>
    <p>Adjunto encontrará el presupuesto de repatriación solicitado por el cliente <%= @estimate.client_name %> <%= @estimate.client_lastname  %>.</p>

    <p class="mb-4">Saludos.</p>
    <div>
        <small class="mt-3 text-secondary">
          <p class="m-0">Funeraria Ivan Martinez</p>
          <p class="m-0">+569 3187 9315</p>
          <p class="m-0">contacto@funerariaim.cl</p>
        </small>
      </div>
  </body>
</html>