<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p class="mb-4">Estimado/a,</p>
    <p>Adjunto encontrará los datos suministrados por el cliente <%= @estimate.client_name %> <%= @estimate.client_lastname  %>.</p>

    Saludos.
  </body>
</html>