<div class="mb-3 ">
  <%= f.hidden_field :service_id, value: params[:service_id] %>
  <% if params[:service_name] == Estimate::CREMACION || params[:service_name] == Estimate::INHUMACION %>
    <%= render 'estimates/partials/no_repatriacion', f: f %>
  <% else params[:service_name] == Estimate::REPATRIACION %>
    <%= render 'estimates/partials/repatriacion',f: f %>
  <%# else params[:service_name] == Estimate::OTRAS_OPCIONES %> 
    <%#= render 'estimates/partials/contact_form',f: f %>
  <% end %>
</div>
