
<div class="form-group row pb-3">
  <label class="col-sm-1 col-form-label text-right">Desde</label>
  <div class="col-sm-3">
    <%= f.select :commune_id, options_from_collection_for_select(@communes, :id, :name, @estimate_form.commune_id), {prompt: "Seleccionar comuna"}, { class: 'form-control' } %>
  </div>
  <label class="col-sm-1 col-form-label text-right">Hasta</label>
  <div class="col-sm-3">
    <%= f.select :destino_repatriacion, options_from_collection_for_select(@communes, :id, :name, @estimate_form.destino_repatriacion), {prompt: "Seleccionar comuna"}, { class: 'form-control' } %>
  </div>
</div>
