
<div class="form-group row pb-3">
  <label class="col-sm-1 col-form-label text-right">Desde</label>
  <div class="col-sm-3">
    <%= f.select :origen_repatriacion, options_for_select(Estimate::PAISES), {prompt: "Seleccionar país"}, { class: 'form-control', id:"origen-repatriacion" } %>
  </div>
  <label class="col-sm-1 col-form-label text-right">Hasta</label>
  <div class="col-sm-3">
    <%= f.select :destino_repatriacion, options_for_select(Estimate::PAISES), {prompt: "Seleccionar país"}, { class: 'form-control' } %>
  </div>
</div>
<div class="text-center">
  <%= link_to 'Volver', root_path, :class => 'btn bg-main-green text-light px-20' %>
  <%= f.submit'Continuar', :class => 'btn bg-main-green text-light px-20 submit-form', disabled: true %>
</div>

<script>

  document.getElementById("origen-repatriacion").addEventListener("change",function(){
    let selected1 = document.getElementById("origen-repatriacion");
    let selected2 = document.getElementById("estimate_destino_repatriacion");
    let submit = document.getElementsByClassName("submit-form");
    if (selected1.value != '' && selected2.value != '') {
      submit[0].removeAttribute("disabled");
    } else {
      submit[0].setAttribute("disabled", true)
    }

    if (selected1.value != 'Chile') {
      selected2.value = 'Chile';
      submit[0].removeAttribute("disabled");
    }
    else {
      selected2.value = '';
      submit[0].setAttribute("disabled", true)
    }
  })

  document.getElementById("estimate_destino_repatriacion").addEventListener("change",function(){
    let selected1 = document.getElementById("estimate_destino_repatriacion");
    let selected2 = document.getElementById("origen-repatriacion");
    let submit = document.getElementsByClassName("submit-form");
    
    if (selected1.value != '' && selected2.value != '') {
      submit[0].removeAttribute("disabled");
    } else {
      submit[0].setAttribute("disabled", true)
    }

    if (selected1.value != 'Chile') {
      selected2.value = 'Chile';
      submit[0].removeAttribute("disabled");
    }
    else {
      selected2.value = '';
      submit[0].setAttribute("disabled", true)
    }
  })

</script>