<footer class="container-fluid bg-black text-secondary pt-2 mt-5">
    <div class="container">
        <div class="text-center">
          © Copyright 2022. Desarrollado Por Funeraria Chile Iván Martínez
        </div>
    </div>
</footer>