<nav class="navbar navbar-light bg-light">
  <div class="container-fluid row py-4">
      <div class="col-md-5 text-center py-2">   
        <%= link_to image_tag('test_logo.jpg', size: '180x90'), root_path %>
      </div>
      <div class="col-md-7 center row">
        <div class="col-md-6 col-sm-12 col-12 text-center row">
          <div class="col-md-2 col-sm-12 col-12 text-center">
            <i class="fas fa-phone-square fa-4x main-green"></i>
          </div>
          <div class="col-md-6 col-sm-12 col-12 text-center">
              <strong>Llama Gratis</strong><br>       
              <span class="text-secondary">600 49 09 090</span>            
          </div>
        </div>


        <div class="col-md-6 col-sm-12 col-12 text-center row">
          <div class="col-md-3 col-sm-12 col-12 center border-main m-0">
              <i class="far fa-comments fa-2x main-green"></i>
          </div>
          <div class="col-md-6 col-sm-12 col-12 text-center">
              <strong>Urgencias</strong><br>       
              <span class="text-secondary">+569 3187 9315</span>            
          </div>
        </div>
      </div>
  </div>
</nav>