/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
 
.main-green{
  color: #93c123;
}

.bg-main-green{
  background-color: #93c123;
}

img {
  max-width: 100%;
}
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.border-main {
  border: 3px solid #93c123;
  border-radius: 10px;
}
html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 40px;
}
footer {
  position: absolute;
   bottom: 0;
   width: 100%;
   height: 60px;   
  background-color: black;
  color: white;
  margin-top: -50px;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
  border-radius: 50%;
}
.step-active{
  height: 40px;
  width: 40px;
  display: inline-block;
  border: 2px solid #93c123;
  border-radius: 50%;
  padding: 7px;
}
.box-shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.card-title{
  text-decoration: dashed;
}

.col-form-label{
  color: gray;
}
.px-20{
  padding-left: 10vw;
  padding-right: 10vw;
}

.contact_form {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}
.bg-urgency{
  background-color: #b4d35e;
}

