/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  font-size: small;
  margin: 0;
  margin-bottom: 40px;
  background-color: rgb(241, 255, 226);
} 
.main-green{
  color: #93c123;
}
.navbar{
  background-color: #eaf5ff !important;
}

.bg-main-green{
  background-color: #93c123;
}

img {
  max-width: 100%;
}
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.border-main {
  height: 50px;
  border: 2px solid #93c123;
  border-radius: 10px;
}
html {
  min-height: 100%;
  position: relative;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 35px 0 35px 0;
}

.card img{
  width: 70vw;
  height: 150px;
}
.step-active{
  height: 35px;
  width: 35px;
  display: inline-block;
  border: 2px solid #93c123;
  border-radius: 50%;
  padding: 7px;
}
.box-shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.card-img-top{
  width: 100%;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease;
  border-radius: 30px;
}

.card-img-top:hover{
  box-shadow: 5px 5px 60px rgba(0, 0, 0, 0.2);
  transform: translateY(-3%);

}

.select-plan{
  /* box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.2); */
  transition: all 400ms ease;
}

.select-plan:hover{
  background-color: blue !important;
  box-shadow: 5px 5px 60px rgba(0, 0, 0, 0.2);
  transform: translateY(-12%);

}

.col-form-label{
  color: gray;
}
.px-20{
  padding-left: 10vw;
  padding-right: 10vw;
}

.contact_form {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}
.bg-urgency{
  background-color: #b4d35e;
}

.decoration-line{
  background-color: #b4d35e;
  height: 5px;
  width: 60px;
  border-radius: 3px;

}
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}